#libmariadb-dev not available on Alpine Linux so far
#mysqlclient
black
buildbot-prometheus
buildbot-worker
django
docker==4.3.1
flask
libvirt-python
pylint
pylint-django
python-dotenv
pyzabbix
sqlalchemy==2.0.36
treq
