<div class="container sponsor">
    <style>
        div.sponsor {
            width: 200px;
            height: 150px;
        }
        img.sponsor {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        td.desc {
            padding-left: 20px;
        }
    </style>
    <h3 align="center">Sponsors</h3>
    <table>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.amd.com"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='AMD-logo.png')}}"
                            alt="AMD logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                AMD is helping MariaDB by providing hardware resources. Thanks
                to AMDs massively parallel machines we are able to ensure the
                quality and performance of MariaDB Server.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://developer.arm.com"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='worksonarm-logo.png')}}"
                            alt="Works on ARM logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                WorksOnArm supports building MariaDB packages for ARM by
                providing substantial compute power, in the form of 2x80 Core
                ARM cpus.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.ibm.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='IBM-Logo.svg')}}"
                            alt="IBM logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                IBM graciously donated one powerful dedicated Linux Power9
                server, and s390x and AIX LPARs to the MariaDB Foundation which
                we are using to extend our supported platforms continuous
                testing coverage. Visit
                <a href="https://www.ibm.com/" target="_blank">IBM.com</a> to
                view their cloud and dedicated hosting offering.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.huawei.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='Huawei-Logo.png')}}"
                            alt="Huawei logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                Huawei graciously donated 4 dedicated ARM server to the
                MariaDB Foundation which we are using to extend our supported
                platforms continuous testing coverage.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.hetzner.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='hetzner.png')}}"
                            alt="Raptor CS logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                Hetzner supports building MariaDB packages for ARM by providing
                substantial compute power, in the form of 2
                <a href="https://www.hetzner.com/dedicated-rootserver/rx220"
                    >RX220</a
                >
                machines.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.bytemark.co.uk/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='bytemark.png')}}"
                            alt="Bytemark logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                Bytemark graciously donated one dedicated machine on which we
                are running <i>ubuntu-2204-bigtest</i> builds. Visit
                <a href="https://www.bytemark.co.uk">Bytemark.co.uk</a>
                to view their cloud and dedicated hosting offering.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.raptorcs.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='raptorcs.png')}}"
                            alt="Raptor CS logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                Raptor Computing Systems supports building MariaDB packages for
                PowerPC by providing one dedicated P9 machine.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://aws.amazon.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='aws.png')}}"
                            alt="AWS logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                AWS is providing credits which are use in the form of MacOS X builders.
            </td>
        </tr>
    </table>
</div>
