<div class="container sponsor">
    <style>
        div.sponsor {
            width: 200px;
            height: 150px;
        }
        img.sponsor {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        td.desc {
            padding-left: 20px;
        }
    </style>
    <h3 align="center">Sponsors</h3>
    <table>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.amd.com"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='AMD-logo.png')}}"
                            alt="AMD logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                AMD is helping MariaDB by providing hardware resources. Thanks
                to AMDs massively parallel machines we are able to ensure the
                quality and performance of MariaDB Server.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.ibm.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='IBM-Logo.svg')}}"
                            alt="IBM logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                IBM graciously donated one powerful dedicated Linux Power9
                server, and s390x and AIX LPARs to the MariaDB Foundation which
                we are using to extend our supported platforms continuous
                testing coverage. Visit
                <a href="https://www.ibm.com/" target="_blank">IBM.com</a> to
                view their cloud and dedicated hosting offering.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.huawei.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='Huawei-Logo.png')}}"
                            alt="Huawei logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                Huawei graciously donated 4 dedicated ARM server to the
                MariaDB Foundation which we are using to extend our supported
                platforms continuous testing coverage.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.hetzner.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='hetzner.png')}}"
                            alt="Raptor CS logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                Hetzner became a Gold Sponsor starting in July 2025. Hetzner is
                sponsoring us with the majority of the servers used in Buildbot
                for AMD64 and ARM, including some mission-critical ones such as
                the hosts for buildbot.mariadb.org and mirror.mariadb.org.
                Check them out at
                <a href="https://www.hetzner.com"
                    >www.hetzner.com</a
                >
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://www.raptorcs.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='raptorcs.png')}}"
                            alt="Raptor CS logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                Raptor Computing Systems supports building MariaDB packages for
                PowerPC by providing one dedicated P9 machine.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://aws.amazon.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='aws.png')}}"
                            alt="AWS logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                AWS is providing credits which are use in the form of MacOS X builders.
            </td>
        </tr>
        <tr>
            <td>
                <div class="sponsor">
                    <a href="https://quape.com/"
                        ><img
                            class="sponsor"
                            src="{{url_for('static', filename='quape.svg')}}"
                            alt="Quape logo"
                    /></a>
                </div>
            </td>
            <td class="desc">
                Quape is providing a dedicated baremetal machine
                (AMD EPYC 7702 64-Core Processor) with 512 GB RAM
                and huge and performant 10 TB nvme storage.
            </td>
        </tr>
    </table>
</div>
