name: Build Debian based images

on:
  push:
    branches:
      - 'main'
      - 'dev'
    paths:
      - 'ci_build_images/debian.Dockerfile'
      - 'ci_build_images/hashicorp.fragment.Dockerfile'
      - 'ci_build_images/minio.fragment.Dockerfile'
      - 'ci_build_images/qpress.Dockerfile'
      - 'ci_build_images/buildbot-worker.Dockerfile'
      - .github/workflows/build-debian-based.yml
      - .github/workflows/bbw_build_container_template.yml
  pull_request:
    paths:
      - 'ci_build_images/debian.Dockerfile'
      - 'ci_build_images/hashicorp.fragment.Dockerfile'
      - 'ci_build_images/minio.fragment.Dockerfile'
      - 'ci_build_images/qpress.Dockerfile'
      - 'ci_build_images/buildbot-worker.Dockerfile'
      - .github/workflows/build-debian-based.yml
      - .github/workflows/bbw_build_container_template.yml

  workflow_call:

jobs:
  build-images:
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: debian:11
            platforms: linux/amd64, linux/arm64/v8
            branch: 10.11
            nogalera: false

          - image: debian:12
            platforms: linux/amd64, linux/arm64/v8, linux/ppc64le
            branch: 10.11
            tag: debian12
            nogalera: false

          - image: debian:12
            platforms: linux/386
            branch: 10.11
            tag: debian12-386
            nogalera: false
            dockerfile: 'debian.Dockerfile hashicorp.fragment.Dockerfile minio.fragment.Dockerfile'

          - image: debian:trixie
            platforms: linux/amd64, linux/arm64/v8, linux/ppc64le
            branch: 11.8
            tag: debian13
            nogalera: false

          - image: debian:trixie
            platforms: linux/386
            branch: 11.8
            tag: debian13-386
            nogalera: false

          - image: debian:sid
            platforms: linux/amd64, linux/arm64/v8, linux/ppc64le
            branch: 11.4
            nogalera: false

          - image: debian:sid
            platforms: linux/386
            branch: 11.4
            tag: debiansid-386
            nogalera: false

          - image: ubuntu:22.04
            platforms: linux/amd64, linux/arm64/v8, linux/ppc64le, linux/s390x
            branch: 10.11
            nogalera: false

          - image: ubuntu:24.04
            platforms: linux/amd64, linux/arm64/v8, linux/ppc64le, linux/s390x
            branch: 10.11
            nogalera: false

          - image: ubuntu:25.04
            platforms: linux/amd64, linux/arm64/v8
            branch: 11.4
            nogalera: false

    uses: ./.github/workflows/bbw_build_container_template.yml
    with:
      dockerfile: ${{ matrix.dockerfile || 'debian.Dockerfile' }}
      image: ${{ matrix.image }}
      platforms: ${{ matrix.platforms }}
      tag: ${{ matrix.tag }}
      branch: ${{ matrix.branch }}
      nogalera: ${{ matrix.nogalera }}
    secrets: inherit
