---
name: pre-commit

on:
  pull_request:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      #//TEMP we need to check only modified files WRT main
      - name: run pre-commit (all)
        run: |
          make venv
          make install-pre-commit
          source .venv/bin/activate
          make pre-commit-run-all
